<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="count.css">
</head>
<body>
    <header>
        <h1 class="headerTitle">Virtual Vault</h1>
        <nav>
            <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/new">New Token</a></li>
            </ul>
        </nav>
    </header>
    <div class="container1">
        <div class="box1">
            <br />
            <h2>Token Count</h2>
            <p>There are currently 0 tokens in the database.</p>
        </div>
    </div>
</body>
</html>
