/* Basic CSS for the index.html */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Inter&family=Karantina&family=Poppins:wght@100&display=swap");

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ece8fd;
  width: 1423px; 
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #cdc0ff;
  color: #fefa98;
  padding: 10px 0;
  text-align: center;
  height: 158px;
  width: 1423px;
  border: 5px solid #fbfe60;
}

nav {
  font-family: "Carter One", system-ui;
}

.headerTitle {
  font-size: 80px;
  font-family: "Carter One", system-ui;
  -webkit-text-stroke: 1px black;
  color: #fefa98;
  margin-left: 325px;
}

.headerTitle {
  font-size: 80px;
  font-family: "Carter One", system-ui;
  -webkit-text-stroke: 1px black;
  color: #fefa98;
  margin-left: 325px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box1 {
  background-color: rgba(202, 202, 202, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 550px;
  border: 5px solid #fbfe60;
  border-radius: 40px;
}

button:hover {
  text-decoration: none;
  background-color: #a694ed;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdc0ff;
  height: 75px; 
  width: 300px; 
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fefa98;
  font-size: 36px;
  border: 2px solid #fefa98;
  border-radius: 10px;
  cursor: pointer;
}

h2 {
  color: rgb(170, 129, 246);
  text-align: center;
}

/* Anchor styles */
a {
  color: #fefa98;
  text-decoration: none;
  font-family: "Carter One", system-ui;
  -webkit-text-stroke: 1px black;
}
ul {
  list-style: none;

}

a:hover {
  font-size: 21px;
  color: #cdc0ff;
}
/* Responsive styles */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
