<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full-Stack JavaScript Sprint One</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header></header>
    <div class = "container">
    <div class = "box">
    <button class = "button">
      <a href="http://localhost:3000/new" class="button">
        New Token
      </a> 
    </button>
    <button class = "button">
      <a href="http://localhost:3000/count" class="button">
        Token Count
      </a>     
    </button>
    </div>
    </div>
    <a href="http://localhost:3000">[home]</a>
  </body>
</html>
