/* Basic CSS for the index.html */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Inter&family=Karantina&family=Poppins:wght@100&display=swap");

/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ece8fd;
  width: 1423;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* how to do a stroke outline around text */

  background-color: #cdc0ff;
  color: #fefa98;
  padding: 10px 0;
  text-align: center;
  height: 158;
  width: 1423;
  border: 5px solid #fbfe60;
}

.headerTitle {
  font-size: 80px;
  font-family: "Carter One", system-ui;
  -webkit-text-stroke: 1px black;
  color: #fefa98;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: rgba(202, 202, 202, 0.5);
  text-align: center;
  height: 400;
  width: 550;
  border: 5px solid #fbfe60;
  border-radius: 40px;
}

.button {
  background-color: #cdc0ff;
  height: 75;
  width: 300;
  align-items: center;
  color: #fefa98;
  -webkit-text-stroke: black 1px;
  font-size: 36px;
  padding-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
h2 {
  color: rgb(170, 129, 246);
  text-align: center;
}

/* Anchor styles */
a {
  color: #fefa98;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  
  .box {
    background-color: rgba(202, 202, 202, 0.5);
    text-align: center;
    height: 400;
    width: 550;
    border: 5px solid #FBFE60;
    border-radius: 40px;
  }

  .button {
    background-color: #CDC0FF;
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefa98;
    font-size: 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-text-stroke: 1px black; /* For WebKit/Blink browsers like Chrome and Safari */
    text-stroke: 1px black; /* Standard property */
    text-decoration: none; /* Remove underline */
  }
  

  h2 {
    color: rgb(170, 129, 246);
    text-align: center;
  }
  
  /* Anchor styles */
  a {
    color: #fefa98;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
