/* Basic CSS for the index.html */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECE8FD;
    width: 1423;
  }
  
  /* Header styles */
  header {
    background-color: #CDC0FF;
    color: #fefa98;
    padding: 10px 0;
    text-align: center;
    height: 158;
    width: 1423;
    border: 5px solid #FBFE60;
  }
  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .box {
    background-color: rgba(202, 202, 202, 0.5);
    text-align: center;
    height: 400;
    width: 550;
    border: 5px solid #FBFE60;
    border-radius: 40px;
  }

  .button {
    background-color: #CDC0FF;
    height: 75px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefa98;
    font-size: 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-text-stroke: 1px black; /* For WebKit/Blink browsers like Chrome and Safari */
    text-stroke: 1px black; /* Standard property */
    text-decoration: none; /* Remove underline */
  }
  

  h2 {
    color: rgb(170, 129, 246);
    text-align: center;
  }
  
  /* Anchor styles */
  a {
    color: #fefa98;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
  