<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full-Stack JavaScript Sprint One</title>
    <link rel="stylesheet" href="newusertoken.css" />
  </head>
  <body>
    <header></header>
    <div class = "container1">
      <div class = "box1">
        add a new user:<br />
        <form action="/new" method="post">
          <input type="text" name="username" /><br />
          <button class = "button">Save</button>
        </form>
      </div>
    </container>
  </body>
</html>
