<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full-Stack JavaScript Sprint One</title>
    <link rel="stylesheet" href="newusertoken.css" />
  </head>
  <body>
    <header>
      <h1 class="headerTitle">Virtual Vault</h1>
      <nav>
        <ul>
          <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="http://localhost:3000/count">Count</a></li>
        </ul>
      </nav>
    </header>
    <div class="container1">
      <div class="box1">
        <br />
        <form action="/new" method="post">
          <label for="inputID">Add a New User:</label><br />
          <input id="inputID" type="text" name="username" />
          <br />
          <button type="button">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>
